
<div class="container">

  <div class="imagem">
    <img src="assets/imagens/FundoPortefolio.png">
  </div>
  <div class="ImgLogo">
    <img src="assets/imagens/logo.png">
  </div>
  <video class="video" autoplay>
    <source src="assets/video.mp4" type="video/mp4" />
  </video>
  <div class="linha"></div>
  <div class="titulo">
    <p>Portfólio</p>
  </div>
</div>

<div class="content" role="main">

  <h2>Projetos</h2>
  <p>A baixo é possivel visualizar os projetos realizados.</p>
  <div class="card-container" id="projetos">
    <div class="row">
      <div class="col-sm-4">
        <div class="card-body">
          <img class="card-img-bottom" src="assets/imagens/Calculadoras.gif" alt="Card image">
        </div>
        <div class="card-footer">
          <a [routerLink]="['/calculadora']" routerLinkActive="active" class="btn btn1">Calculator</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-body">
          <img class="card-img-bottom" src="assets/imagens/events.gif" alt="Card image">
        </div>
        <div class="card-footer">
          <a [routerLink] = "['/evRef']" routerLinkActive="router-link-active" class="btn btn1">Events</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-body">
          <img class="card-img-bottom" src="assets/imagens/lista compras.gif" alt="Card image">
        </div>
        <div class="card-footer">
          <a [routerLink] = "['/listaDeCompras']" routerLinkActive="router-link-active">Lista de compras</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-container" id="projetos">
    <div class="row">

      <div class="col-sm-4">
        <div class="card-body">
          <img class="card-img-bottom" src="assets/imagens/chuck.gif" alt="Card image">
        </div>
        <div class="card-footer">
          <a [routerLink]="['/chuck']" routerLinkActive="active" class="btn btn1">Piadas Chuck</a>
        </div>
      </div>
    </div>
  </div>
</div>


