
<!--<div id="calculadora">-->
<!--ngModel = vai buscar e atribui-->
<!--<input placeholder="num 1" [(ngModel)] = "valor1" (input)="calcula()">
<input placeholder="num 2" [(ngModel)] = "valor2" (input)="calcula()">
<input placeholder="num 2" [(ngModel)] = "sinal" (input)="calcula()">

<h1>soma: {{resultado}}</h1>

</div>-->

<div class="fundo">
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="base">
        <input [value]="display" type="text" class="display" name="display" readonly>
        <div class="NumOper">
          <table style="width: 100%;">
            <tr>
              <td class="operacoes" (click)="limpar()" colspan="2">ON</td>
              <td class="operacoes" (click)="limpar()" colspan="1">AC</td>
              <td class="operacoes" (click)="definirOperacao('/')" colspan="1">/</td>
            </tr>
            <tr>
              <td class="numeros" (click)="adicionarNumero('7')">7</td>
              <td class="numeros" (click)="adicionarNumero('8')">8</td>
              <td class="numeros" (click)="adicionarNumero('9')">9</td>
              <td class="operacoes" (click)="definirOperacao('*')" >x</td>
            </tr>
            <tr>
              <td class="numeros" (click)="adicionarNumero('4')">4</td>
              <td class="numeros" (click)="adicionarNumero('5')">5</td>
              <td class="numeros" (click)="adicionarNumero('6')">6</td>
              <td class="operacoes" (click)="definirOperacao('-')">-</td>
            </tr>
            <tr>
              <td class="numeros" (click)="adicionarNumero('3')">3</td>
              <td class="numeros" (click)="adicionarNumero('2')">2</td>
              <td class="numeros" (click)="adicionarNumero('1')">1</td>
              <td class="operacoes"(click)="definirOperacao('+')" >+</td>
            </tr>
            <tr>
              <td colspan="2" class="numeros" (click)="adicionarNumero('0')">0</td>
              <td class="numeros" (click)="adicionarNumero('.')">.</td>
              <td class="operacoes" (click)="calcular()">=</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
</div>
