.router-link-active
{
  color: blue;
  font-weight: bold;
}

.active
{
  font-size: large;
  font-weight: bold;

  transition: all 1s;
}

a
{
  display: inline;
  margin-left: 15px;
  padding: 5px;
  text-decoration: none;
  color: beige;
}
